
<!-- header with navbar -->
<div class="top-row">
    <div class="container">
      <span class="lc01"><a class="lc-inner">TEE</a></span><span class="lc02"><a class="lc-inner">SHIRT</a></span><span class="lc03"><a class="lc-inner">SHOP</a></span>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop">Shop</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="/search">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- main content router -->
<div class="main">
    <div class="container">
        <router-outlet></router-outlet>    
    </div>    
</div>
<!--footer-->
<footer>

</footer>
